<script>
	import { scaleLinear } from 'd3-scale';
	import {extent, max} from 'd3-array';
	
	export let fullData = [];
	export let data = [];
	export let width;
	export let height;
	
	let maxEnergyUse = 5000;
	
	$: data_electricity = data.map((d) => d.total_electrity)
	//$: console.log(data_electricity)
	
	$: data_gas = data.map((d) => d.total_gas)
	//$: console.log(data_gas)
	
	// Scales
	$: xScale = scaleLinear().domain([0,167]).range([0,width/3])
	//$: yScale1 = scaleLinear().domain(extent(data_electricity)).range([height/10, 0])
	//$: yScale2 = scaleLinear().domain(extent(data_gas)).range([0,height/10])
	
	//$: console.log(max(fullData.map((d) => d.total_electrity)))
	//$: console.log(max(fullData.map((d) => d.total_gas)))
	
	$: yScale1 = scaleLinear().domain([0,max(fullData.map((d) => d.total_gas))]).range([height/5, 0])
	$: yScale2 = scaleLinear().domain([0,max(fullData.map((d) => d.total_gas))]).range([0,height/5])
	
	//$: console.log(extent(data_electricity))
	
	$: Path_Electricity = (d) => {
		//console.log(d)
		let path = "M";
		d.forEach((value, idx) => {
			path += ' ' + xScale(idx) + ',' + yScale1(value)
			//console.log(path) 
		})
		//console.log(path) 
		return path;
	}
	
	$: Path_Gas = (d) => {
		//console.log(d)
		let path = "M";
		d.forEach((value, idx) => {
			path += ' ' + xScale(idx) + ',' + yScale2(value)
			//console.log(path) 
		})
		//console.log(path) 
		return path;
	}
	
</script>
<g class="electricity">
	<path d={Path_Electricity(data_electricity)} />
</g>
<g class="gas" transform="translate(0, 115)">
	<path d={Path_Gas(data_gas)} />
</g>



<style>
	.electricity {
		stroke: darkblue;
		fill: blue;
		fill-opacity: 0.5;
	}
	.gas {
		stroke: orange;
		fill: yellow;
		fill-opacity: 0.5;
	}
</style>