<script>
	export let selectedCity;
	export let selectedScaling;
	
</script>

<div>
	Select city: 
	<label>
	<input bind:group={selectedCity} type="radio" value="Baltimore" /> Baltimore
	<input bind:group={selectedCity} type="radio" value="Chicago" /> Chicago
	<input bind:group={selectedCity} type="radio" value="Los Angeles" /> Los Angeles
	</label>
</div>

<div>
	Select way of scaling: 
	<label>
	<input bind:group={selectedScaling} type="radio" value="per line" /> per line
	<input bind:group={selectedScaling} type="radio" value="across all lines" /> across all lines
	</label>
</div>