<script>
	
	export let data = [];
	
	import { scaleLinear } from 'd3-scale';
	import {extent} from 'd3-array';
 	
	// Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	
	export let selectedScaling="across all lines";
	 
	
	$: transformed_data = {};
	$: {
		data.forEach((d) => {
			if (!(d.buildingtype in transformed_data)){
				transformed_data[d.buildingtype] = []
			}
			transformed_data[d.buildingtype].push(d.total_heating_energy)
		})
	}
	// $: console.log(transformed_data)
	// $: console.log(Object.keys(transformed_data))
	
	$: xScale = scaleLinear().domain([0,23]).range([0,width/32])
	
	$: yScale = null; 

	// $: console.log(extent(data.map((d) => d.total_heating_energy)))
	
	let GeneratePath = (d) => {
		if (selectedScaling === "across all lines"){
			yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([height/10, 0])}
		else {
			yScale = scaleLinear().domain(extent(d)).range([height/10, 0])}
		
		//console.log(extent(d))
		let path = "M";
		d.forEach((value, idx) => {
			path += ' ' + xScale(idx) + ',' + yScale(value)
		})
		return path;
	}
</script>

<svg width={width+160} height={height+180}>
	<text class="date" x=5 y=15>1 December</text>
	<text class="date" x=590 y=15>31 December</text>
  <g transform="translate({margin.left-20}, {margin.top+10})">
    {#each Object.keys(transformed_data) as buildingType, index}
			<g transform="translate({width/32}, {index*height/10})">
				<path d={GeneratePath(transformed_data[buildingType])} />
				<text x=615 y=20>{buildingType}</text>
			</g>
		{/each}
  </g>
</svg>




<style>
	path {
		stroke: none;
		fill: darkmagenta;
		fill-opacity: 0.5;
	}
	.date {
		font-size: 8px
	}
	svg {
    border: 1px solid black;
    border-radius: 5px;
  }
	text {
		dominant-baseline: middle;
		font-size: 11px
	}
</style>