<script>
	import Leaf from './_design_3_leaf.svelte';
	
	import { json } from 'd3-fetch';
	import { onMount } from 'svelte';
	
	import {extent, max} from 'd3-array';
	
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	
	let data = [];
	onMount(async () => {
		data = await json("https://datavis-exercises.vercel.app/data/hourly_electricity_vs_gas_december.json");
});
	
	//$: console.log(data_48)
	
	// Split data up into different weeks
	$: data_48=data.filter(w => (w.week === 48));
	//$: console.log(data_48)
	
	$: data_49=data.filter(w => (w.week === 49));
	//$: console.log(data_49)
	
	$: data_50=data.filter(w => (w.week === 50));
	//$: console.log(data_50)
	
	$: data_51=data.filter(w => (w.week === 51));
	//$: console.log(data_51)
	
	$: data_52=data.filter(w => (w.week === 52));
	//$: console.log(data_52)
	
	let weeks = [48,49,50,51,52];
	//$: console.log(data_52)
	
</script>

<svg width={width+100} {height}>
  <g transform="translate({margin.left}, {margin.top})">
		<text class="title" x=0 y=30 >Electricity and Gas Usage</text>
		<text class="month" x=0 y=50 >DECEMBER, CHICAGO</text>
		<circle class="legendblue" cx=440 cy=80 r=10 />
		<text x=470 y=85 >Electricity</text>
		<circle class="legendyellow" cx=440 cy=120 r=10 />
		<text x=470 y=125 >Gas</text>
		<rect x=410 y=50 width=150 height=100 />
		<text class="week" x=420 y=420>week 1</text>
		<text class="week" x=15 y=320>week 2</text>
		<text class="week" x=420 y=250>week 3</text>
		<text class="week" x=15 y=170>week 4</text>
		<text class="week" x=320 y=120>week 5</text>
		<line class="week" x1=240 y1=70 x2=240 y2=550 />
		<g transform="translate(200, 350)">
			<g transform="rotate(-20)">
				<Leaf fullData={data} data={data_48} width={width} height={height} />
			</g>
		</g>
		<g transform="translate(120, 200)">
			<g transform="rotate(20)">
				<Leaf fullData={data} data={data_49} width={width} height={height} />
			</g>
		</g>
		<g transform="translate(200, 190)">
			<g transform="rotate(-20)">
				<Leaf fullData={data} data={data_50} width={width} height={height} />
			</g>
		</g>
		<g transform="translate(120, 50)">
			<g transform="rotate(20)">
				<Leaf fullData={data} data={data_51} width={width} height={height} />
			</g>
		</g>
		<g transform="translate(200, 30)">
			<g transform="rotate(-20)">
				<Leaf fullData={data} data={data_52} width={width} height={height} />
			</g>
		</g>
  </g>
</svg>

<style>
	rect {
		fill: none;
		stroke: black;
		stroke-width: 2;
		opacity: 0.3;
	}
	.legendblue {
		fill: blue;
		stroke: darkblue;
		fill-opacity: 0.5
	}
	.legendyellow {
		fill: yellow;
		stroke: orange;
		fill-opacity: 0.5;
	}
	.title {
		font-weight: bold;
		font-size: 20px;
	}
	.month {
		font-size: 12px;
		opacity: 0.5;
	}
	.week {
		font-style: italic;
		font-size: 12px;
		opacity: 0.7;
	}
	line {
		stroke: black;
		stroke-width: 2
	}
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>