<script>
	import Path from './_design_1_BuildingType_path.svelte';
	import Controls from './_design_1_Controls.svelte';
	
	import { json } from 'd3-fetch';
	import { onMount } from 'svelte';

	
	$: selectedCity="Baltimore";
	$: selectedScaling="per line";
	
	let data = [];
	onMount(async () => {
		data = await json("/data/hourly_heating_december.json");
});
	$: New_Data=data.filter(stad => (stad.city === selectedCity));
	
// $: console.log(New_Data) 

</script>

<div>
	<div class="title">
		<b>Heating Energy Usage per Building Type</b>
	</div>
	<div class="month">
		<i>December</i>
		<br/><br/>
	</div>
	<div class="info">
		data for {selectedCity} scaled {selectedScaling}
	</div>
	{#if selectedScaling == "across all lines"}
	{#if selectedCity == "Baltimore"}
		<Path data={New_Data} bind:selectedScaling={selectedScaling} />
		{:else}
			{#if selectedCity == "Chicago"}
				<Path data={New_Data} bind:selectedScaling={selectedScaling} />
				{:else}
					<Path data={New_Data} bind:selectedScaling={selectedScaling} />
			{/if}
	{/if}
		{ :else}
			{#if selectedCity == "Baltimore"}
		<Path data={New_Data} bind:selectedScaling={selectedScaling} />
		{:else}
			{#if selectedCity == "Chicago"}
				<Path data={New_Data} bind:selectedScaling={selectedScaling} />
				{:else}
					<Path data={New_Data} bind:selectedScaling={selectedScaling} />
			{/if}
	{/if}
	{/if}
	<Controls bind:selectedCity={selectedCity} bind:selectedScaling={selectedScaling} />
</div>

<style>
	.title {
		font-size: 25px;
	}
	.month {
		font-size: 15px;
	}
	.info {
		font-size: 15px;
		opacity: 0.7
	}
</style>