<script>
  let current = "";
</script>

<style>
  .className {background: fuchsia;}
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" class:className="{current === "messi"}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" class:className="{current === "ronaldo"}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" class:className="{current === "neymar"}" on:click={() => (current = "neymar")}>
  Neymar
</button>


