<script>
    const name = 'Elina'
    const myList = ['piano', 'badminton', 'food']
    const myObject = {name, myList}
</script>

<p>My name is {myObject['name']} and these are some of my favourite things: {myObject.myList}.</p>


