<script>
	// Properties
	  import { onDestroy } from 'svelte';
	  export let slider_value = 0;
	  export let selected;
	  let clicked = false
	
		const continents = ["all", "europe", "asia", "americas", "africa"];
	   
	  let start = false;
	  function Start(){
		  slider_value += 1
		  if (slider_value > 214){
			  slider_value = 0
		  }
	  }
	  let Inter;
	  function StartForReal(){
		  start = !start
		  if (start){
			  
			  Inter = setInterval(Start, 70);
		  }
		  else {
			  clearInterval(Inter); 
		  } 
	  }
	  function Reset(){
		  clearInterval(Inter);
		  slider_value = 0
		  start = false 
	  }
  
  </script>
  
  <div class="row">
	  <div>
		  <button type="button" class="btn btn-success" on:click={StartForReal}>
			  {start ? 'Pause' : 'Start'}
		  </button>
		  <button type="button" class="btn btn-danger" on:click={Reset}>
			  Reset
		  </button>
	  </div>
	  <div>
		  <label> Year: {1800 + slider_value} </label>
	  <input type="range" min="0" max="214" bind:value={slider_value} class="slider" id="myRange"/>
		</div>
		<div>
	  <select bind:value={selected}>
		  {#each continents as continent}
			  <option value={continent}>
				  {continent}
			  </option>
		  {/each}
	  </select>
	  </div>
  </div>