<script>
	let count = 0;

	function Counter() {
		count += 1;
	}
	function Reset(){
		count = 0
	}
</script>

<div>
	<button type="button" class="btn btn-outline-success" on:click={Counter}>
	Counter: {count}
	</button>
</div>

<div>
	<button type="button" class="btn btn-outline-danger" on:click={Reset}>
	Reset
	</button>
</div>