<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
	
	export let slider_value = 0;
	export let selected = "all";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json")
		;
  });
	
	$: DataForScatterPlot =  function(slider_value, selected) {

    let ScatterData=data[slider_value]["countries"].filter(Cont => (Cont.continent === selected));

		
		if (selected == "all"){
			ScatterData=data[slider_value]["countries"]
		}
		return ScatterData
		
		}

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={DataForScatterPlot(slider_value,selected)}/>
		<Controls bind:slider_value={slider_value} bind:selected={selected}/>
  </div>
{/if}