<script>
	import { scaleLog } from "d3-scale";
	  import { scaleLinear } from "d3-scale";
	  import { scaleOrdinal } from "d3-scale";
	  import { axisBottom } from "d3-axis";
	  import { axisLeft } from "d3-axis";
	  import { schemeSet1 } from "d3-scale-chromatic";
	  import { select } from "d3-selection";
	  import { format } from "d3-format";
	  
	// Dimensions
	const [height, width] = [400, 600];
	const margin = { top: 50, right: 5, bottom: 55, left: 50 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
	  
	  export let data = [];
	  const continents = ["europe", "asia", "americas", "africa"];
	  
	  const scaleX = scaleLog().domain([300, 150000]).range([0, innerWidth]);
	const scaleY = scaleLinear().domain([0, 90]).range([innerHeight, 0]);
	const scaleR = scaleLinear().range([5, 40]).domain([2000, 1400000000]);
	const scaleColour = scaleOrdinal(schemeSet1).domain(continents);
	  
	  const x_axis = axisBottom(scaleX).tickValues([400,4000, 40000]).tickFormat(format("$"))
	  
	  function xAxis(g){
	  select('#xAx_scatter').call(x_axis);
	}
	  
	  const y_axis = axisLeft(scaleY)
	  
	  function yAxis(g){
	  select('#yAx_scatter').call(y_axis);
	}
  
  </script>
  
  <svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
	<g transform="translate({margin.left}, {margin.top})">
	  {#each data as d}
		<circle
		  class="dot"
		  cx={scaleX(+d.income)}
		  cy={scaleY(+d.life_exp)}
		  r={scaleR(+d.population)}
		  fill={scaleColour(d.continent)} >
		</circle>
	  {/each}
		  <text x=-190 y=-30 transform="rotate(-90)" style="font-size:medium;"> Life expectancy </text>
		  <text x=200 y=340 style="font-size:medium;"> Income </text>
		  <text x=170 y=20 style="font-size:20px;"> Life expectancy on Income </text>
		  <text x=460 y=290 style="font-size:medium; opacity:0.5"> Year: 1800 </text>
		  <g id="xAx_scatter" use:xAxis transform="translate(0,300)">
			  <text x=50 y=100>
				  hallo
			  </text>
		  </g>
		  <g id="yAx_scatter" use:yAxis>
		  </g>
		  
	</g>
  </svg>