<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];


  import { scaleLog } from 'd3-scale';
  const scaleX = scaleLog().domain([1,9]).range([50,780]);
  
  import { axisBottom } from 'd3-axis';
  import {select} from 'd3-selection';
  
  const x_axis = axisBottom(scaleX)
  
  function xAxis(g){
    select('#xAx').call(x_axis);
    
  }
</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle cx={scaleX(value)}
              cy=45
              r=10
              style="fill: darkmagenta;"/>
    {/each}
    <g id="xAx" use:xAxis transform="translate(0, {innerHeight})"></g>
  </g>
  <g transform="translate(450,95)">
    <text>x-axis</text>
  </g>
</svg>