<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  
  import { scaleLinear } from 'd3-scale';
  const scaleX = scaleLinear().domain([1,10]).range([margin.left,width-margin.right]);
  const scaleY = scaleLinear().domain([3,0]).range([margin.bottom, height-margin.top]);
  
  import { scaleOrdinal } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  const colourScale = scaleOrdinal(schemeDark2).domain(extent(values, function(d){ return d.category
  }));
  
  function colourIn(g){
    select('svg g circle').call(x_axis);
    
  }

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle cx={scaleX(value.x)} 
              cy={scaleY(value.y)}
              r=10
              style="fill:{colourScale(value.category)};"/>
      <g transform="translate({scaleX(value.x)}, {scaleY(value.y)-15})">
        <text> {value.y} </text>
      </g>
    <line x1="{scaleX(value.x)}" y1="{height-margin.top}" x2="{scaleX(value.x)}" y2="{margin.bottom+scaleY(value.y)}"/>
      
    {/each}
  </g>
  <line x1="0" y1="{height}" x2="{width-margin.right}" y2="{height}"/>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line {
    stroke: black;
    stroke-width: 3;
        }
</style>