<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 40, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  
  import { scaleLinear } from 'd3-scale';
  import { scaleBand } from 'd3-scale';
  const scaleX = scaleBand().domain(["Netflix","Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"]).range([0,500])
  const scaleY = scaleLinear().domain([0,3]).range([height-margin.top, margin.bottom])
  
  import { axisLeft } from 'd3-axis';
  import { axisBottom } from 'd3-axis';
  import {select} from 'd3-selection';
  
  const y_axis = axisLeft(scaleY)
  const x_axis = axisBottom(scaleX)
  
  function xAxis(g){
    select('#xAxis').call(x_axis);
  }
  
  function yAxis(g){
    select('#yAxis').call(y_axis);
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
      <rect x={scaleX(d.service)} y={scaleY(d.viewers)-30} width="60" height={height-scaleY(d.viewers)-10}
              style="fill: darkmagenta;"/>
    {/each}
    <g id="yAxis" use:yAxis class="yAx" transform="translate(-10,-30)"></g>
    <g id="xAxis" use:xAxis class="xAx" transform="translate(-10,260)"></g>
        <g transform="translate(-60)">
      <text style="font-size:small">Viewers</text>
      </g>
  </g>
</svg>