<script>
	import {onMount} from 'svelte';
	import {json} from 'd3-fetch';
	import Scatterplot from './_ex_7_scatterplot.svelte'
	
	let DataLoaded = false;
	let data = null;
	onMount(async () => {
		data = await json("/data/gapminder.json");
		DataLoaded = true
});

</script>

{#if DataLoaded}
	<Scatterplot data={data[0].countries}/>
{:else}
  <p>Loading data...</p>
{/if}
